@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



.metaContainer {
    width: 100%;
    height: fit-content;
    display: inline-block;
    
}

* {
    margin: 0px;
    background: rgba(20,20,20,1);
    background-position: cover;
    width: 100%;
    height: 100%;

}
* {
    text-decoration: none;
}

.netflixLogoContainer{
    width: 100%;
    height: 10%;
    margin: auto;
    
}

.netflixLogo {
    width: 10%;
    color: rgb(232, 31, 31);
    font-family: "Francois", sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 15px;
}
.contentContainer {
    padding: 20px 5px;
    width: 100%;
}

.whosWatchingText {
    display: flex;
    flex-direction:row;
}
h1 {
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    font-weight: unset;
    font-family: 'Roboto:wght@100' , sans-serif;
    text-align: center;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.imageLinksContainer {
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}
.pics {
    list-style-type: none;
    width: 10vw;
    max-width: 200px;
    min-width: 84px;
    margin: 0 2vw 0 0;
}

.linkText {
    font-family: 'Roboto:wght@100' , sans-serif;
}

.pics:hover .linkText{
    color: rgb(222, 218, 218);
    border: none;
    cursor: pointer;
    
}
.imageLinksContainer {
    padding: 0px;
    background-color: transparent;
}
.pics:hover img{
    border: 3px solid white;
    border-radius: 5%;
    
}
img {
    border-radius: 5%;  
}

.iconTextContainer{
    font-family: 'Roboto:wght@100' , sans-serif;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    all: unset;
    list-style-type: none;
    font-size: 1.2vw;
    min-height: 1.8em;
    color: grey;
    display: block;
    text-align: center;
    width: 10vw;
    max-width: 200px;
    min-width: 84px;
    margin: 0 2vw 0 0;
}

.manageProfilesContainer {
    border: 1.5px solid maroon; 
    font-family: 'Roboto:wght@100' , sans-serif;
    display: block;
    margin: 2em 0 1em 0;
    font-size: 1.2vw;
    border: 1px solid grey;
    color: grey;
    padding: 0.5em 1.5em;
    letter-spacing: 1.1px;
    background-color: transparent;
    width:fit-content;
    margin-left: auto;  
    margin-right: auto;
}

.manageProfilesContainer:hover{
    border: 1px solid white;
}


.manageProfilesContainer:hover button{
    color: white;
    border: none;
    cursor: pointer;
}